.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.navListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navListContainer li {
  list-style: none;
  font-size: 2.4rem;
}

.header {
  margin: 0;
  font-size: 3.4rem;
  font-weight: 700;
}
